button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #357a38;
}
