.car-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

.button-div {
    text-align: center;
    margin-bottom: 2rem;
}

.button-link {
    display: inline-block;
    padding: 1rem 2rem;
    background-color: #0d6efd;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button-link:hover {
    background-color: #0b5ed7;
}

.cars-a {
    margin: 1rem;
}

@media (max-width: 768px) {
    .car-container {
        margin: 1rem;
    }

    .button-div {
        margin-bottom: 1rem;
    }
}
