.home-container {
    background-color: brown;
}

.nav-home {
    background-color: aquamarine;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 3em;
}

.nav-home a {
    margin: 0 1em;
    text-decoration: none;
}

.header-home {
    background-color: blue;
}
.about-a .cars-a {
    background-color: blueviolet;
    max-width: 300px;
    max-height: 380px;
}
